/*Media Queries*/

// Resolución 1060px

@media (max-width: 1060px) {
  section {
    width: 80%;
  }
}

// Resolución 930px

@media (max-width: 930px) {
  section {
    width: 90%;
  }
}

// Resolución 800px

@media (max-width: 800px) {
  .banner-subtitle {
    line-height: 18px;
    font-size: 1.1rem;
  }

  .first-article {
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    

    figure {
      order: 1;
      img {
        height: auto;
      }
    }

    .article-content {
      order: 2;
    }
  }

  .little-article {
    grid-template-columns: 50% 1fr;

    figure img {
      height: 200px;
    }

    p {
      line-height: 18.5px;
    }
  }
  .talk {
    padding: 40px;

    .interested {
      width: 100%;
      p {
        color: $third-white;
      }
      h1 {
        font-size: 2.3rem;
      }
    }
  }

  .f-contact {
    padding: 40px;
    .contact-column {
      ul li {
        line-height: 25px;
        margin-top: 25px;
      }
    }
  }
}

// Resolución máxima 675px

@media (max-width: 675px) {
  .inactive {
    .inactive-articles {
      grid-template-columns: repeat(1, 1fr);

      figure img {
        width: 100%;
        height: 200px;
      }
    }
  }

  .little-article {
    grid-template-columns: 1fr;

    figure img {
      height: 200px;
    }

    p {
      line-height: 25px;
    }
  }

  .f-contact {
    .contact {
      .contact-column {
        ul li {
          line-height: 25px;
          margin-top: 15px;
          font-size: 1rem;
        }
        .contact-title {
          font-weight: bold;
          font-size: 1.2rem;
        }
      }
    }
  }
}

// Resolución máxima 560px

@media (max-width: 560px) {
  .banner {
    height: 150px;

    .banner-subtitle {
      display: none;
    }

    .main-title-h1 {
      display: flex;
    }

    h1 {
      align-items: center;
    }
  }

  header {
    .nav {
      a {
        font-size: 1.3rem;
      }
    }
  }
}

// Resolución máxima 460px

@media (max-width: 460px) {
  .banner {
    h1 {
      font-size: 2.4rem;
    }
  }

  header {
    padding: 15px;
    .nav {
      a {
        font-size: 1.1rem;
      }
    }
    .logo {
      width: 65px;
      height: 65px;
    }
  }
  .talk {
    padding: 30px;
    flex-direction: column;
    border-top-right-radius: 100px;

    .interested {
      width: 100%;
      p {
        color: $third-white;
        font-size: 0.9rem;
      }
      h1 {
        font-size: 2rem;
      }
    }

    .button {
      width: 100%;
      font-weight: bolder;
      font-size: 1rem;
    }
  }
  .f-contact {
    padding: 30px;
    .contact {
      gap: 10px;
      .contact-column {
        ul li {
          line-height: 25px;
          margin-top: 15px;
          font-size: 0.8rem;
        }
        .contact-title {
          font-weight: bold;
          font-size: 1rem;
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}

// Resolución máxima 380px

@media (max-width: 380px) {
  .banner {
    h1 {
      font-size: 2rem;
    }
  }

  header {
    padding: 10px;
    margin: 0;
    .nav {
      a {
        font-size: 1rem;
      }
    }
    .logo {
      width: 50px;
      height: 50px;
    }
  }
}
