/* Search */

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $secondary-white;
  border-radius: 12px;
  padding: 15px;

  .search-icon {
    width: 20px;
    height: 20px;
    margin-left: 1%;
  }

  .search-input {
    width: 100%;
    background-color: inherit;
    border: none;
    margin-left: 1%;
    outline: none;
  }
}
