/* Active Article */

.first-article {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  figure img {
    height: 380px;
    width:100%;
  }

  .article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 30px;
  }
}
