/* Inactive articles */

.inactive {
  border-bottom: 1px solid $secondary-grey;

  .inactive-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

    figure img {
      width: 100%;
      height: 180px;
      margin: auto;
    }

    .title-inactive {
      font: $font-size-tag;
      margin-top: 20px;
    }
  }

  .see-all {
    margin-top: 40px;
    right: 0px;
    display: flex;
    flex-direction: row-reverse;
  }
}


